
@{
    ViewBag.Title = "Login";
    Layout = null;
}
@Styles.Render("~/Content/css")
<body class ="masthead" style="background-size: cover; background-position:center; background: url(../img/bg-masthead.jpg)no-repeat center center fixed;">

    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        <div class="container" style="margin-top: 4em; background-color: #ffffffd4; padding: 5em;border-radius: 120px;max-width: 40em;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="~/img/appIcon1.png" style="height:15em; margin-bottom: 2em;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <label for="inputEmail">User Name</label>
                    @Html.TextBox("User Name")
                </div>
            </div>
            <div class="row" style="margin-top: 2em;">
                <div class="col-md-12 text-center">
                    <label for="inputPassword">Password</label>
                    @Html.Password("Password")
                </div>
            </div>
            <div class="row" style="margin-top: 2em;">
                <div class="col-md-12 text-center">
                    <button class="btn btn-danger btn-xl" style="background-color: #1d809f!important; border-color: #1d809f!important;" type="submit">Login</button>
                </div>
            </div>

            <div class="row" style="margin-top: 2em;">
                <div class="col-md-12 text-center">
                    Dont have an account? @Html.ActionLink("Create one!", "Create", null, null, new { @class="display-inline-block"}) 
                </div>
            </div>
        </div>
    }

</body>
