
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-5">

        <h2>Calcium Gluconate</h2>

        <h4>Order Number</h4>

        <h5>434882</h5>

        <h4>Start Date</h4>
        <h5>4/12/2017</h5>

        <h4>Status</h4>
        <h5>Back Order</h5>
        <h4>Assay Name</h4>

        <h5>CustomScreen</h5>

        <h4>Comments</h4>
        <p>4/20/17 - Waiting on ordered test tubes.</p>
    </div>
    <div class="col-md-5">
        <br />
        <br />
        <table class="table">
            <tr>
                <th>
                    <p>Test Number</p>
                </th>
                <th>
                    <p>Scheduled Date</p>
                </th>
                <th>
                    <p>Status</p>
                </th>
                <th>
                    <p>Pre-Requisites</p>
                </th>
                <th>
                    <p>Price</p>
                </th>
                <th>
                </th>
            </tr>
            <tr>
                <td>
                    <p>247</p>
                </td>
                <td>
                    <p>12/12/2017</p>
                </td>
                <td>
                    <p>In Progress</p>
                </td>
                <td>
                    <p>None</p>
                </td>
                <td>
                    <p>$100.00</p>
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", null, null)

                </td>
            </tr>
            <tr>
                <td>
                    <p>137</p>
                </td>
                <td>
                    <p>12/15/2017</p>
                </td>
                <td>
                    <p>In Progress</p>
                </td>
                <td>
                    <p>313</p>
                </td>
                <td>
                    <p>$100.00</p>
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", null, null)
                </td>
            </tr>
            <tr>
                <td>
                    <p>256</p>
                </td>
                <td>
                    <p>TBD</p>
                </td>
                <td>
                    <p>Awaiting Approval</p>
                </td>
                <td>
                    <p>247</p>
                </td>
                <td>
                    <p>$100.00</p>
                </td>
                <td>
                   @{
                       if (ViewBag.WasApproved == true)
                       {
                        @Html.ActionLink("Details", "Details", null, null)
                       }
                       else
                       {
                        @Html.ActionLink("Approval Pending", "Approval", null, null, new
                           {
                               @style = "color: red"
                           })
                       }
                    }
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-1">

    </div>
</div>
