
@{
    Layout = "~/Views/Shared/EmpLayout.cshtml";
    ViewBag.Title = "GetList";
}
<hr />
<h2 id="meow">Lab Test Schedule</h2>
<hr />

<table class="table">
    <tr>
        <th>
            <p>Assay Name</p>
        </th>
        <th>
            <p>Test Number</p>
        </th>
        <th>
            <p>Scheduled Date</p>
        </th>
        <th>
            <p>Status</p>
        </th>
        <th>
            <p>Pre-Requisites</p>
        </th>
        <th>
            <p>Due Date</p>
        </th>
    </tr>
    <tr>
        <td>
            <p>CustomScreen</p>
        </td>
        <td>
            <p>247</p>
        </td>
        <td>
            <p>12/12/2017</p>
        </td>
        <td>
            <p>In Progress</p>
        </td>
        <td>
            <p>None</p>
        </td>
        <td>
            <p>1/25/2018</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>CustomScreen</p>
        </td>
        <td>
            <p>250</p>
        </td>
        <td>
            <p>12/12/2017</p>
        </td>
        <td>
            <p>In Progress</p>
        </td>
        <td>
            <p>None</p>
        </td>
        <td>
            <p>1/25/2018</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>CustomScreen</p>
        </td>
        <td>
            <p>246</p>
        </td>
        <td>
            <p>12/12/2017</p>
        </td>
        <td>
            <p>In Progress</p>
        </td>
        <td>
            <p>None</p>
        </td>
        <td>
            <p>1/25/2018</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>CustomScreen</p>
        </td>
        <td>
            <p>251</p>
        </td>
        <td>
            <p>12/12/2017</p>
        </td>
        <td>
            <p>In Progress</p>
        </td>
        <td>
            <p>None</p>
        </td>
        <td>
            <p>1/25/2018</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>PharmaScreen</p>
        </td>
        <td>
            <p>137</p>
        </td>
        <td>
            <p>12/15/2017</p>
        </td>
        <td>
            <p>In Progress</p>
        </td>
        <td>
            <p>313</p>
        </td>
        <td>
            <p>12/30/2018</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>PharmaScreen</p>
        </td>
        <td>
            <p>132</p>
        </td>
        <td>
            <p>12/15/2017</p>
        </td>
        <td>
            <p>In Progress</p>
        </td>
        <td>
            <p>313</p>
        </td>
        <td>
            <p>12/30/2018</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>PharmaScreen</p>
        </td>
        <td>
            <p>146</p>
        </td>
        <td>
            <p>12/15/2017</p>
        </td>
        <td>
            <p>In Progress</p>
        </td>
        <td>
            <p>313</p>
        </td>
        <td>
            <p>12/30/2018</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>PharmaScreen</p>
        </td>
        <td>
            <p>137</p>
        </td>
        <td>
            <p>12/15/2017</p>
        </td>
        <td>
            <p>In Progress</p>
        </td>
        <td>
            <p>313</p>
        </td>
        <td>
            <p>12/30/2018</p>
        </td>
    </tr>
</table>
<div class="row">
    <div class="col-md-offset-1 col-md-2 text-left">
        @Html.ActionLink("Back to Home", "Tab", null, null, new { @class = "btn btn-default btn-md" })
    </div>
    <div class="col-md-8 text-right">
        <button style="margin-right: 5px" class="btn btn-default" onclick="window.print();"><i class="fa fa-download"></i> Download Excel</button>
    </div>
</div>
