
@{
    Layout = "~/Views/Shared/EmpLayout.cshtml";
    ViewBag.Title = "ViewWO";
}
<hr />
<h2 id="meow">Client Work Orders</h2><hr />
<div class="row" style="padding-left:20px">
    @Html.DropDownList("tests")
    <a href="#hidden1" data-toggle="collapse" class="btn btn-primary btn-xs">Select Client</a>
</div>
<br />
<br />
<div class="container collapse" id="hidden1">
    <div class="main_container">
        <!-- page content -->
        <div role="main">
            <div class="">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h1 id="meow"><strong>Tylenol Tech</strong> <small>(968-34567)</small></h1>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br />
                                <div class="row">
                                    <div class="col-md-9 text-left">
                                        <h3>Work Orders</h3>
                                    </div>
                                    <div class="col-md-2 text-right" style="padding-top: 19px">
                                        @Html.ActionLink("New Work Order", "CreateWO", null, null, new { @class = "btn btn-primary btn-sm" })
                                    </div>
                                </div>
                                <!-- start project list -->
                                <table class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%">Order #</th>
                                            <th style="width: 20%">Compound Name</th>
                                            <th>Start Date</th>
                                            <th>Project Progress</th>
                                            <th>Status</th>
                                            <th>Assay Name</th>
                                            <th>Invoice</th>
                                            <th style="width: 18%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>434882</td>
                                            <td>Calcium Gluconate</td>
                                            <td>10/28/2017</td>
                                            <td class="project_progress">
                                                <div class="progress progress_sm">
                                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>
                                                </div>
                                                <small>57% Complete</small>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary2 btn-xs">Back Order</button>
                                            </td>
                                            <td>CustomScreen</td>
                                            <td>
                                                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-file"></i> Generate Invoice </a>
                                            </td>
                                            <td>
                                                <a href="/Employee/Details" class="btn btn-primary2 btn-xs"><i class="fa fa-folder"></i> Details </a>
                                                <a href="/Employee/EditWO" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Cancel </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>243556</td>
                                            <td>Abraxane</td>
                                            <td>11/22/2017</td>
                                            <td class="project_progress">
                                                <div class="progress progress_sm">
                                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="47"></div>
                                                </div>
                                                <small>47% Complete</small>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-xs">In Progress</button>
                                            </td>
                                            <td>CustomScreen</td>
                                            <td>
                                                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-file"></i> Generate Invoice </a>
                                            </td>
                                            <td>
                                                <a href="/Employee/Details" class="btn btn-primary2 btn-xs"><i class="fa fa-folder"></i> Details </a>
                                                <a href="/Employee/EditWO" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Cancel </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>984561</td>
                                            <td>Ranitidine</td>
                                            <td>11/30/2017</td>
                                            <td class="project_progress">
                                                <div class="progress progress_sm">
                                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77"></div>
                                                </div>
                                                <small>77% Complete</small>
                                            </td>
                                            <td>
                                                @{
                                                    if (ViewBag.WasApproved == true)
                                                    {
                                                        <button type="button" class="btn btn-info btn-xs">In Progress</button>
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("Approval Pending", "Details", null, null, new { @class = "btn btn-danger btn-xs" })
                                                    }
                                                }
                                            </td>
                                            <td>CustomScreen</td>
                                            <td>
                                                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-file"></i> Generate Invoice </a>
                                            </td>
                                            <td>
                                                <a href="/Employee/Details" class="btn btn-primary2 btn-xs"><i class="fa fa-folder"></i> Details </a>
                                                <a href="/Employee/EditWO" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Cancel </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>353561</td>
                                            <td>Yophetamine</td>
                                            <td>08/24/2017</td>
                                            <td class="project_progress">
                                                <div class="progress progress_sm">
                                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>
                                                </div>
                                                <small>100% Complete</small>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-xs">Complete</button>
                                            </td>
                                            <td>CustomScreen</td>
                                            <td>
                                                <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-file"></i> Generate Invoice </a>
                                            </td>
                                            <td>
                                                <a href="/Employee/Details" class="btn btn-primary2 btn-xs"><i class="fa fa-folder"></i> Details </a>
                                                <a href="/Employee/EditWO" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Cancel </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                                <!-- end project list -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>
    <!-- Bootstrap core CSS -->

    <link href="~/gentelella/documentation/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/gentelella/production/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/gentelella/production/css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins
    <link href="~/gentelella/production/css/custom.css" rel="stylesheet">-->
    <link href="~/gentelella/production/css/icheck/flat/green.css" rel="stylesheet">

    <script src="~/gentelella/production/js/jquery.min.js"></script>

    <script src="~/gentelella/production/js/bootstrap.min.js"></script>

    <!-- bootstrap progress js -->
    <script src="~/gentelella/production/js/progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/gentelella/production/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="~/gentelella/production/js/icheck/icheck.min.js"></script>

    <script src="~/gentelella/production/js/custom.js"></script>

    <!-- pace -->
    <script src="~/gentelella/production/js/pace/pace.min.js"></script>

</div>
<br />
<p>@Html.ActionLink("Back", "Tab", "Employee", null, new { @class = "btn btn-primary btn-medium" })</p>