
@{
    ViewBag.Title = "Approval";
}

<h2>Approval</h2>

<h3>Test #313 has been suggested and is waiting for your approval</h3>
<h4>Cost: $320</h4>
<h4>Explanation</h4>
<p>The Compound has been found to be active therefore this additional test will be helpful to bring complete results.</p>

<p>@Html.ActionLink("Yes", "MyOrders", "Client", new { i = 1 }, new { @class = "btn btn-primary btn-medium" })</p>
<p>@Html.ActionLink("NO", "MyOrders", "Client", new { i = 1 }, new { @class = "btn btn-danger btn-medium" })</p>








