
@{
    ViewBag.Title = "Details";
}

<h2>Calcium Gluconate</h2>

<h4>Order Number</h4>

<h5>434882</h5>

<h4>Start Date</h4>
<h5>4/12/2017</h5>

<h4>Status</h4>
<h5>Back Order</h5>
<h4>Assay Name</h4>

<h5>CustomScreen</h5>

<h4>Comments</h4>
<p>4/20/17 - Waiting on ordered test tubes.</p>

<thead>
    <tr>
        <th>Order Number</th>
        <th>Compound Name</th>
        <th>Status ID</th>
        <th>Date Arrived</th>
        <th>Pre-Approved</th>
        <th>Date Due</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Quoted Price</th>
    </tr>
</thead>