
@{
    ViewBag.Title = "HistoryDetails";
}

<div class="x_title">
    <br />
    <h1><strong>Tylenol Tech</strong></h1>
    <div class="clearfix"></div>
</div>
<div class="row">

    <div class="col-md-6">
        <h4>Order Number: <small>234765</small></h4>
        <h2>Methylprednisolone Acetate</h2>
        <table class="table table-striped dt-responsive nowrap" cellspacing="0">
            <tbody>
                <tr><th>Assay:</th><td> Custom Screen</td></tr>
                <tr>
                    <th>Status:</th> 
                    <td>
                        @Html.ActionLink("Complete", null, null, null, new { @class = "btn btn-success btn-xs" })
                        <button type="button" class="btn btn-success btn-xs">Paid</button>
                    </td>
                </tr>
                <tr><th>Final Cost:</th><td> $3211.57</td></tr>
                <tr><th>Date Arrived:</th><td> 11/01/2017</td></tr>
                <tr><th>Due Date:</th><td> 12/25/2017</td></tr>
                <tr><th>Start Date:</th><td> 11/06/2017</td></tr>
                <tr><th>Completed Date:</th><td>12/25/2017</td></tr>
                <tr><th>Weight:</th><td> 20g</td></tr>
                <tr><th>Weight Received:</th><td> 20g</td></tr>
                <tr><th>Maximum Tolerated Dose:</th><td> 10mg</td></tr>
                <tr><th>Comments:</th><td>none</td></tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <!-- page content -->
        <div role="main">
            <div class="">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">

                            <div class="x_content">
                                <br />
                                <h3>Test History</h3>
                                <!-- start project list -->
                                <table class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%">Test #</th>
                                            <th style="width: 20%">Scheduled Date</th>
                                            <th>Pre-Requisites</th>
                                            <th>Price</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>137</td>
                                            <td>11/12/2017</td>
                                            <td>None</td>
                                            <td>$1000.00</td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-xs">Complete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>247</td>
                                            <td>11/15/2017</td>
                                            <td>313</td>
                                            <td>$930.00</td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-xs">Complete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>256</td>
                                            <td>11/26/2017</td>
                                            <td>247</td>
                                            <td>$1270.00</td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-xs">Complete</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><strong>$3211.57.00</strong></td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                                <!-- end project list -->
                                <div class="row col-lg-12 text-center">
                                    <a href="" class="btn btn-primary2 btn-medium"><i class="fa fa-download"></i> Report </a>
                                    <a href="/Client/Invoice" class="btn btn-primary2 btn-medium"><i class="fa fa-file"></i> View Invoice </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>
</div>

<!-- Bootstrap core CSS -->

<link href="~/gentelella/documentation/css/bootstrap.min.css" rel="stylesheet">

<link href="~/gentelella/production/fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="~/gentelella/production/css/animate.min.css" rel="stylesheet">

<!-- Custom styling plus plugins
<link href="~/gentelella/production/css/custom.css" rel="stylesheet">-->
<link href="~/gentelella/production/css/icheck/flat/green.css" rel="stylesheet">

<script src="~/gentelella/production/js/jquery.min.js"></script>

<script src="~/gentelella/production/js/bootstrap.min.js"></script>

<!-- bootstrap progress js -->
<script src="~/gentelella/production/js/progressbar/bootstrap-progressbar.min.js"></script>
<script src="~/gentelella/production/js/nicescroll/jquery.nicescroll.min.js"></script>
<!-- icheck -->
<script src="~/gentelella/production/js/icheck/icheck.min.js"></script>

<script src="~/gentelella/production/js/custom.js"></script>

<!-- pace -->
<script src="~/gentelella/production/js/pace/pace.min.js"></script>
<div class="row">
    <div class="col-sm-1 text-right">
        <p>@Html.ActionLink("Back", "History", "Client", null, new { @class = "btn btn-primary btn-primary2 btn-large" })</p>
    </div>

</div>

