
@{
    ViewBag.Title = "HistoryDetails";
}

<h2>Methylprednisolone Acetate</h2>

<h4>Order Number:</h4>
<h5>234765</h5>

<h4>Start Date:</h4>
<h5>2/12/2017</h5>

<h4>Completed Date:</h4>
<h5>3/7/2017</h5>

<h4>Final Price:</h4>
<h5>$3211.57</h5>


<h4>Status:</h4>
<h5>Complete</h5>

<h4>Assay Name:</h4>
<h5>CustomScreen</h5>

<p>@Html.ActionLink("Download Reports", null, null, new { @class = "btn btn-primary btn-medium" })</p>


