
@{
    ViewBag.Title = "Index";
}

<h2>My profile</h2>

<p>@Html.ActionLink("My Orders", "MyOrders", null, new { @class = "btn btn-primary btn-medium" })</p>
<p>@Html.ActionLink("My History", "History", null, new { @class = "btn btn-primary btn-medium" })</p>


