
@{
    ViewBag.Title = "Index";
}

<h2>My Profile</h2>

<p>@Html.ActionLink("My Orders", "MyOrders", "Client", null, new { @class = "btn btn-primary btn-medium" })</p>
<p>@Html.ActionLink("History", "History", "Client", null, new { @class = "btn btn-primary btn-medium" })</p>



