
@{
    ViewBag.Title = "Quote Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quote Summary</h2>

<div class="container">
    <h3>Assay: ImmunoScreen® (IS)</h3>
    <h3>Compound: Dihydrogen monoxide</h3>
    <h3>Weight: 5g</h3>
    <h3>Estimate: $313</h3>
    <br />

    <h3>Historical prices</h3>
    <table border="1">
        <tr>
            <td><strong>Date</strong></td>
            <td><strong>Assay</strong></td>
            <td><strong>Compound</strong></td>
            <td><strong>Cost</strong></td>
            <td><strong>Duration</strong></td>
        </tr>
        <tr>
            <td>06/11/16</td>
            <td>Protein Assay</td>
            <td>Carbon Dioxide</td>
            <td>$349</td>
            <td>14 days</td>
        </tr>
        <tr>
            <td>06/23/16</td>
            <td>Protein Assay</td>
            <td>Dihydrogen monoxide</td>
            <td>$313</td>
            <td>9 days</td>
        </tr>
        <tr>
            <td>08/01/16</td>
            <td>Protein Assay</td>
            <td>Carbon Dioxide</td>
            <td>$349</td>
            <td>14 days</td>
        </tr>
        <tr>
            <td>09/08/16</td>
            <td>Protein Assay</td>
            <td>Carboxlyic acid</td>
            <td>$469</td>
            <td>14 days</td>
        </tr>
    </table>

    <h3>Recent Singapore Lab Data</h3>
    <p><i>Updated 12/1/16</i></p>
    <table border="1">
        <tr>
            <td><strong>Assay</strong></td>
            <td><strong>Base Price</strong></td>
            <td><strong>2 molecules</strong></td>
            <td><strong>3 molecules</strong></td>
            <td><strong>4 molecules</strong></td>
            <td><strong>5 molecules</strong></td>
            <td><strong>6 molecules</strong></td>
        </tr>
        <tr>
            <td>Protein Assay</td>
            <td>$280</td>
            <td>$313</td>
            <td>$349</td>
            <td>$378</td>
            <td>$409</td>
            <td>$467</td>
        </tr>
    </table>
    <br />

    <p>Questions? <a>Contact a lab manager</a></p>

    <button class="btn btn-primary">Send To Lab Manager</button>

</div>

