
@{
    Layout = "~/Views/Shared/EmpLayout.cshtml";
    ViewBag.Title = "EditWO";
}
<h1 id="meow">Edit</h1>
<div class="x_title">
    <br />
    <h1 id="meow"><strong>Tylenol Tech</strong></h1>
    <div class="clearfix"></div>
</div>

<div class="row">
    <div class="col-md-8">

        <h4>Order Number: 434882</h4>
        <br />
        <h4>Assay Name: CustomScreen</h4>
        <br /><br />
        <div class="container">
            <table class="table table-striped dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width: 10%">Test #</th>
                    <th style="width: 20%">Scheduled Date</th>
                    <th>Pre-Requisites</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>137</td>
                    <td>12/12/2017</td>
                    <td>None</td>
                    <td>$100.00</td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs">Complete</button>
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-upload"></i> Upload Results</a>
                    </td>
                </tr>
                <tr>
                    <td>247</td>
                    <td>12/15/2017</td>
                    <td>313</td>
                    <td>$100.00</td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs">Complete</button>
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-upload"></i> Upload Results</a>
                    </td>
                </tr>
                <tr>
                    <td>256</td>
                    <td><input type="date" id="date" required placeholder="TBD" /></td>
                    <td>247</td>
                    <td>$320.00</td>
                    <td>
                        <button type="button" class="btn btn-primary2 btn-xs">Back Order</button>
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-upload"></i> Upload Results</a>
                    </td>
                </tr>

            </tbody>
            </table>
            <a href="#hidden1" data-toggle="collapse" class="btn btn-primary btn-md">Add New Assay/Test</a>
        </div>
    </div>
    <div class="col-md-4 collapse" id="hidden1">
        <br /><br /><br />
        <h4>Add a New Assay/Test</h4>
        <br />
        <p>Assay: @Html.DropDownList("assay")</p>
        <p>Test: @Html.DropDownList("tests")</p>
        <p>Recommendation Reasoning</p>
        <textarea name="Text1" cols="40" rows="5"></textarea>
        <br /><br />
        @Html.ActionLink("Submit", "Tab", null, null, new { @class = "btn btn-primary btn-md" })
    </div>
</div>
<!-- Bootstrap core CSS -->
<link href="~/gentelella/production/css/bootstrap.min.css" rel="stylesheet">
<link href="~/gentelella/production/fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="~/gentelella/production/css/animate.min.css" rel="stylesheet">
<!-- Custom styling plus plugins -->
<link href="~/Content/custom2.css" rel="stylesheet">
<link href="~/gentelella/production/css/icheck/flat/green.css" rel="stylesheet">
<!-- ion_range -->
<link rel="stylesheet" href="~/gentelella/production/css/normalize.css" />
<link rel="stylesheet" href="~/gentelella/production/css/ion.rangeSlider.css" />
<link rel="stylesheet" href="~/gentelella/production/css/ion.rangeSlider.skinFlat.css" />
<!-- colorpicker -->
<link href="~/gentelella/production/css/colorpicker/bootstrap-colorpicker.min.css" rel="stylesheet">
<script src="~/gentelella/production/js/jquery.min.js"></script>
<!-- bootstrap progress js -->
<script src="~/gentelella/production/js/progressbar/bootstrap-progressbar.min.js"></script>
<script src="~/gentelella/production/js/nicescroll/jquery.nicescroll.min.js"></script>
<!-- icheck -->
<script src="~/gentelella/production/js/icheck/icheck.min.js"></script>
<!-- daterangepicker -->
<script type="text/javascript" src="~/gentelella/production/js/moment/moment.min.js"></script>
<script type="text/javascript" src="~/gentelella/production/js/datepicker/daterangepicker.js"></script>
<!-- input mask -->
<script src="~/gentelella/production/js/input_mask/jquery.inputmask.js"></script>
<!-- knob -->
<script src="~/gentelella/production/js/knob/jquery.knob.min.js"></script>
<!-- range slider -->
<script src="~/gentelella/production/js/ion_range/ion.rangeSlider.min.js"></script>
<!-- color picker -->
<script src="~/gentelella/production/js/colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="~/gentelella/production/js/colorpicker/docs.js"></script>
<!-- image cropping -->
<script src="~/gentelella/production/js/cropping/cropper.min.js"></script>
<script src="~/gentelella/production/js/cropping/main2.js"></script>
<!-- pace -->
<script src="~/gentelella/production/js/pace/pace.min.js"></script>

