
@{
    ViewBag.Title = "QuoteDetails";
}
<div class="jumbotron">
    <div class = "row">
        <div class = "col-md-offset-1 col-md-5">
            <hr />
            <h1 id="meow">Quote Details:</h1>
            <hr />
            <h2 id="meow">Calcium Gluconate</h2>
            <h4 id="meow">Assay:<small> CustomScreen</small></h4>

            <table class="table dt-responsive nowrap" cellspacing="0">
                <tbody>
                    <tr>
                        <th>Weight:</th>
                        <td>5 grams</td>
                    </tr>
                    <tr>
                        <th>Due Date:</th>
                        <td>12/20/2017</td>
                    </tr>
                    <tr>
                        <th>Coments:</th>
                        <td>*None*</td>
                    </tr>
                </tbody>
            </table>
            <h4><strong>Your Estimated Quote is: $400</strong></h4>
            <hr />
            <a class="btn btn-primary btn-xl" href="@Url.Action("GetQuote" , "Client" )">Back</a>
            <a class="btn btn-primary btn-xl" href="@Url.Action("MyOrders" , "Client" )">Create Order</a>
            <a class="btn btn-primary btn-xl" href="@Url.Action("GetQuote" , "Client" )">Get Another Quote</a>
        </div>
       </div>
</div>